<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CassandraCSharpDriver" version="2.1.2" targetFramework="net45" />
  <package id="CassandraEntityContext" version="2.1.0" targetFramework="net45" />
  <package id="Crc32C.NET" version="1.0.5.0" targetFramework="net45" />
  <package id="log4net" version="2.0.3" targetFramework="net45" />
  <package id="lz4net" version="1.0.5.93" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="6.0.6" targetFramework="net45" />
  <package id="protobuf-net" version="2.0.0.668" targetFramework="net45" />
  <package id="Snappy.NET" version="1.1.1.8" targetFramework="net45" />
  <package id="structuremap" version="3.1.4.143" targetFramework="net45" />
  <package id="Zebus" version="1.2.0" targetFramework="net45" />
</packages>