<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Endpoint" value="tcp://*:129"/>
    <add key="Environment" value="Demo"/>
    <add key="PeerId" value="Directory.0"/>
    <add key="Storage" value="InMemory" />

    <add key="Cassandra.Hosts" value="" />
    <add key="Cassandra.KeySpace" value="" />
    <add key="Cassandra.LocalDataCenter" value="" />

  </appSettings>
</configuration>
