<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ConfigManager.CurrentEnvironnement" value="Local"/>
    <add key="Bus.PeerId" value="Abc.Zebus.DirectoryService.0" />
    <add key="Bus.IsPersistent" value="false" />
    <add key="Bus.InboundEndPoint" value="tcp://*:129" />
    <add key="Directory.InMemory" value="true" />
    <add key="Monitoring.EnableMetrics" value="false" />
  </appSettings>
</configuration>