<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Endpoint" value="tcp://*:129" />
    <add key="Environment" value="Demo" />
    <add key="PeerId" value="Directory.0" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>