<?xml version="1.0"?>
<configuration>
  <appSettings>

    <add key="Endpoint" value="tcp://*:129"/>
    <add key="Environment" value="Demo"/>
    <add key="PeerId" value="Directory.0"/>
    
    <add key="Bus.Directory.EndPoints" value=""/>
    <add key="Bus.Directory.RegistrationTimeout" value="00:00:30"/>
    <add key="Bus.Persistence.StartReplayTimeout" value="00:00:30"/>
    <add key="Bus.IsPersistent" value="false"/>
    <add key="Bus.Directory.PickRandom" value="true"/>
    
    <add key="Directory.PingPeers.Interval" value="00:01"/>
    <add key="Directory.TransientPeers.PingTimeout" value="00:05"/>
    <add key="Directory.PersistentPeers.PingTimeout" value="00:05"/>
    <add key="Directory.DebugPeers.PingTimeout" value="00:10"/>
    <add key="Directory.BlacklistedMachines" value=""/>
    <add key="Directory.DisableDynamicSubscriptionsForDirectoryOutgoingMessages" value="false"/>
    
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>